@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap);

:root{
    --red: #D62828;
    --pink: #ff6e6e;
    --light-organge: #FCBF49;
    --light-blue: #8ECAE6;
    --orange: #F77F00;
    --beige: #EAE2B7; 
    --yellow: #f9844a;
    --dark-blue: 	hsl(201, 100%, 14%);
    --light-light-orange: #ffbf69;
    --lighter-blue: #c5ecfe;
    --green: #43aa8b;
    --light-green: #77d7bb;
}

* {
    font-family: 'Chakra Petch';
    font-size: 28px;
    font-weight: 800;
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-organge);
}





/* sets body size and margin */
.calculator-body {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto; 
    background-color: var(--dark-blue);
    border-radius: 35px;
    padding: 40px;
    margin: 35px;
}

/* sets sizing, color, flex for display */
.calculator-display {
    width: 350px;
    height: 150px;
    border-radius: 25px;
    background-color: var(--beige);
    color: var(--yellow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    
}

/* gives the text inside the display a padding */
.calculator-display > * {
    padding: 10px;
}

/* sets the button area size */
.calculator-buttons {
    width: 350px;
    height: 500px;

    display: flex;
    flex-direction: row;

    gap: 10px;

    margin-top: 35px;
}





/* 

    * styling for left column of buttons

*/
.left-buttons {
    height: 100%;

    display: flex;
    flex-direction: column;

    flex: 3;

    justify-content: space-between;
    gap: 10px;
}


/*  conatainer styling */
/* multiply and divide container */
.multiply-and-divide {
    display: flex;
    flex-direction: row;

    flex: 1;

    gap: 10px;

}
/* numbers containers */
.numbers {
    flex: 3.5;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.numbers > .row {

    height: 100%;
    width: 100%;

    display: flex;
    gap: 10px;
}
.row > * {
    height: 100%;
    width: 100%;
}
/* zero and point container */
.zero-and-dot {
    flex: 1;

    display: flex;
    flex-direction: row;

    gap: 10px;
}



/* multiply and divide buttons */
.multiply, .divide{
    height: 100%; 
    width: 100%;
    background-color: var(--light-blue); 

    border-radius: 12px;
}
/* zero and point buttons  */
.zero, .dot {
    height: 100%;
    width: 100%;
}
/* sets zero twice as big*/
.zero {
    flex: 2;
}
.dot {
    flex: 1;
}





/* 
    right button column styling
*/
.right-buttons {
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* container styling */
/* add and subtract container */
.add-subtract-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 10px;
}
/* equal and clear container */
.equal-and-clear {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* right column button sizing */
.add, .subtract {
    flex: 1;
}
.equal, .clear {
    flex: 1;
}




/* 
    button styling
        - applies styling to div's children or a button directly
*/
button.orange-button, .orange-button > button {
    background-color: var(--orange);

    border-radius: 12px;
    color: var(--light-light-orange);
}
button.orange-button:active, .orange-button > button:active {
    background-color: var(--light-light-orange);
    color: var(--orange);
}


button.blue-button, .blue-button > button {
    background-color: var(--light-blue);
    color: var(--lighter-blue);
    border-radius: 12px;
}
button.blue-button:active, .blue-button > button:active {
    background-color: var(--lighter-blue);
    color: var(--light-blue);
}


button.red-button, .red-button > button {
    border-radius: 12px;
    background-color: var(--red);
    color: var(--pink);
}
button.red-button:active, .red-button > button:active{
    background-color: var(--pink);
    color: var(--red);
}


button.green-button, .green-button > button{
    border-radius: 12px;
    background-color: var(--green);
    color: var(--light-green);
}
button.green-button:active, .green-button > button:active{
    background-color: var(--light-green);
    color: var(--green);
}